/* body,
 .q-page-container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://saac.com.co/api/storage/app/public/resources/background_1.png') no-repeat center
      center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
