.q-page-container {
  background:
    linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9)),
    url('/background_5.jpg') repeat center center fixed;
  background-size: auto;
  justify-content: center;
  align-items: center;
}
